$black: #000000;
$white: #ffffff;
$neutral_color_one: #f7f6f4;
$neutral_color_two: #faf5f2;
$neutral_color_three: #52525a;
$neutral_color_four: #0b0916;
$theme_color_one: #dbfb1e;
$theme_color_two: #203f30;